<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wztc.demo.mapper.HistoryMapper">

    <resultMap id="BaseResultMap" type="History">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="cover" jdbcType="VARCHAR" property="cover" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>

    <!--根据主键查询数据-->
    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT c.id,c.goods_id,g.goods_name,g.cover,c.user_id,u.user_name,u.nick_name,c.create_time FROM history c
             LEFT JOIN goods g ON c.`goods_id`=g.`id`
             LEFT JOIN USER u ON c.`user_id`=u.`id`
        where c.id=#{id}
    </select>

    <!--根据条件查询-->
    <select id="select" parameterType="History" resultMap="BaseResultMap">
        SELECT c.id,c.goods_id,g.goods_name,g.cover,c.user_id,u.user_name,u.nick_name,c.create_time FROM history c
        LEFT JOIN goods g ON c.`goods_id`=g.`id`
        LEFT JOIN user u ON c.`user_id`=u.`id`
        where 1=1
        <if test="userId != null and '' != userId">
            and c.user_id = #{userId}
        </if>
        <if test="goodsId != null and '' != goodsId">
            and c.goods_id = #{goodsId}
        </if>
        <if test="goodsName != null and '' != goodsName">
            and g.goods_name like CONCAT('%', #{goodsName}, '%')
        </if>
        order by c.id desc
    </select>

    <!--查询每个用户浏览电影次数-->
    <select id="selectViewCountByHit" resultType="History">
        SELECT c.goods_id as goodsId ,c.user_id as userId ,count(c.goods_id) as hitCnt
        FROM history c group by c.goods_id,c.user_id
    </select>

    <!--插入数据-->
    <insert id="insert" parameterType="History">
        insert into history (goods_id, user_id, create_time)
        values(#{goodsId}, #{userId}, #{createTime})
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteById">
        delete from history WHERE id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from history WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>