<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wztc.demo.mapper.MessageBoardMapper">

    <resultMap id="BaseResultMap" type="MessageBoard">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="head_img" jdbcType="VARCHAR" property="headImg" />
        <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
        <result column="reply_user_name" jdbcType="VARCHAR" property="replyUserName" />
        <result column="reply_nick_name" jdbcType="VARCHAR" property="replyNickName" />
        <result column="reply_head_img" jdbcType="VARCHAR" property="replyHeadImg" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="level" jdbcType="TINYINT" property="level" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    </resultMap>

    <!--根据主键查询数据-->
    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT m.id,m.user_id,u.user_name,u.nick_name,u.head_img,u1.user_name reply_user_name, u1.nick_name reply_nick_name, u1.head_img reply_head_img,
               m.content,m.level,m.parent_id,m.create_time FROM message_board m
                                                                    LEFT JOIN USER u ON m.user_id=u.id
                                                                    LEFT JOIN USER u1 ON m.reply_user_id = u1.id
        WHERE 1=1
          and m.id=#{id}
    </select>

    <!--根据条件查询-->
    <select id="select" parameterType="MessageBoard" resultMap="BaseResultMap">
        SELECT m.id,m.user_id,u.user_name,u.nick_name,u.head_img,u1.user_name reply_user_name, u1.nick_name reply_nick_name, u1.head_img reply_head_img,
        m.content,m.level,m.parent_id,m.create_time FROM message_board m
        LEFT JOIN USER u ON m.user_id=u.id
        LEFT JOIN USER u1 ON m.reply_user_id = u1.id
        where 1=1
        <if test="userId != null and '' != userId">
            and m.user_id = #{userId}
        </if>
        <if test="userName != null and '' != userName">
            and u.user_name = #{userName}
        </if>
        <if test="nickName != null and '' != nickName">
            and u.nick_name = #{nickName}
        </if>
        <if test="content != null and '' != content">
            and m.content like CONCAT('%',#{content},'%')
        </if>
        <if test="level != null">
            and m.level = #{level}
        </if>
        <if test="parentId != null">
            and m.parent_id = #{parentId}
        </if>
        <if test="level == 1">
            order by m.id desc
        </if>
        <if test="level == 2">
            order by m.id asc
        </if>
        <if test="level == null">
            order by m.id desc
        </if>
    </select>

    <!--插入数据-->
    <insert id="insert" parameterType="MessageBoard" useGeneratedKeys="true" keyProperty="id">
        insert into message_board (user_id, reply_user_id, content, parent_id, level, create_time)
        values(#{userId}, #{replyUserId}, #{content}, #{parentId}, #{level}, #{createTime})
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="MessageBoard">
        update message_board
        <set>
            <if test="replyUserId != null">
                reply_user_id = #{replyUserId},
            </if>
            <if test="content != null and '' != content">
                content = #{content},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="createTime != null and '' != createTime">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteById">
        delete from message_board WHERE id = #{id}
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from message_board WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>